.gallery-div ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.gallery-title {
    padding: 2rem;
}

li {
    list-style: none;
}

img {
    width: auto;
    height: auto;
    margin-top: auto;
}

p {
    margin-top: auto;
    text-transform: capitalize;
    transition: ease-in-out 0.2s;
}

.gallery-div a {
    height: 9vw;
    max-width: 10vw;
    padding: 2.5rem;
    background: #e2d9c5;
    border: 4px solid #2b2b2b;
    box-shadow: 
        0px 0px 0px 4px #c2b59b;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    transition: ease-in-out 0.1s
}

.gallery-div a:hover p {
    background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gallery-div a:hover {
    background: #fff5df;
}

@media (max-width: 1224px) {
    .gallery-div ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .gallery-div ul {
        grid-template-columns: repeat(2, 1fr);
    }
}