.launch-app-section img {
    max-width: 8rem;
    transition: ease-in-out 0.6s;
    margin-bottom: 2.5rem;
}

.launch-app-section img:hover {
    cursor: pointer;
    transform: rotate(360deg) scale(1.4);
    filter: drop-shadow(5px 5px 10px rgb(198, 137, 255));
}

.launch-app-section {
    height: 25rem;
    width: 100%;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.banner-section{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button {
    background-color: rgb(87, 87, 87);
    border: none;
    border-radius: 20px;
    padding: 1rem 2rem;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 500;
}

.start-button:hover {
    cursor: default;
}

.start-button:hover span{
    color: rgb(198, 137, 255);
}

.launch-app-section button span{
    color: whitesmoke;
}

.img-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.poke-background {
    border-radius: 2px;
    width: 600px;
    margin-bottom: 5rem;
    border: 3px solid;
}

h3 {
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .start-button{
    width: 80%;
    font-size: small;
    line-height: 150%;
    } 

    .banner-section{
        margin-top: 5%;
        height: 6rem;
    }

    .poke-background{
        width: 90vw;
    }
}