.nav-ul {
  position: sticky;
  top: 0;
  max-width: 100vw;
  background-color: #fff;
  padding: 4px;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

.nav-ul li a {
  font-size: 0.8rem;
  margin-left: 1.5rem;
}

.poke-icon {
  height: 90px;
  transition: 0.4s;
}

.poke-icon:hover {
  transform: scale(0.85);
  filter: drop-shadow(0 0 8px #ff0000) drop-shadow(0 0 12px #ff8000)
    drop-shadow(0 0 16px #ffff00) drop-shadow(0 0 20px #00ff00)
    drop-shadow(0 0 24px #0080ff) drop-shadow(0 0 28px #4b0082)
    drop-shadow(0 0 32px #9400d3);
}

.nav-ul div {
  margin-right: 3rem;
  gap: 2.5rem;
  display: flex;
  flex-direction: row;
}

.nav-ul a {
  text-decoration: none;
  /* margin-left: 1.5rem; */
  font-weight: 500;
  color: #333;
}

.nav-ul a:hover {
  color: #000;
}

@media (max-width: 1224px) {
}

@media (max-width: 768px) {
  .poke-icon {
    height: 70px;
  }

  .nav-ul li a {
    font-size: 0.7rem;
    margin-left: 0rem;
  }

  .nav-ul {
  padding: 2px;
}
}
